<h1>Books</h1>
<div class="p-grid p-align-center p-justify-between top-bar-table">
  <div>
    <p-button label="Add book" routerLink="/new"></p-button>
  </div>
  <div class="p-grid p-align-center p-justify-around reset-margin-right">
    <h3 class="first selectAuthorTitle">Author</h3>
    <p-dropdown [options]="uniqAuthors"
                (onChange)="getAuthor($event)"
                placeholder="Any authors"
                optionLabel="author"
    >
      <ng-template let-book pTemplate="selectedAuthor">
        <span style="vertical-align:middle">{{book.label}}</span>
      </ng-template>
      <ng-template let-book pTemplate="selectedAuthor">
        <span>{{book.value.author}}</span>
      </ng-template>
    </p-dropdown>
  </div>
</div>
<!--/ Add delete message -->
<p-toast key="myKey1"></p-toast>
<!-- PrimeNG table -->
<p-table [value]="books" [responsive]="true" [paginator]="true" [rows]="10">
  <ng-template pTemplate="header">
    <tr class="text-center">
      <th width="5%">Id</th>
      <th width="30%">Title</th>
      <th width="10%">Year</th>
      <th width="15%">Author</th>
      <th width="10%">Genre</th>
      <th width="10%">Edit</th>
      <th width="10%">Delete</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-book>
    <tr class="text-center">
      <td><a routerLink="/books/{{book.id}}">{{book.id}}</a></td>
      <td><a routerLink="/books/{{book.id}}">{{book.title}}</a></td>
      <td><a routerLink="/books/{{book.id}}">{{book.year}}</a></td>
      <td><a routerLink="/books/{{book.id}}">{{book.author}}</a></td>
      <td><a routerLink="/books/{{book.id}}">{{book.genre}}</a></td>
      <td><button pButton
                  type="button"
                  label="Edit"
                  class="ui-button-warning"
                  routerLink="/edit/{{book.id}}"
      ></button></td>
      <td><button pButton
                  type="button"
                  label="Delete"
                  class="ui-button-danger"
                  (click)="deleteBook(book)"
      ></button></td>
    </tr>
  </ng-template>
</p-table>
