<div class="text-center">
  <h2>Add book: {{book.title}}</h2>
  <!-- Message -->
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-6 ui-md-offset-3">
      <p-messages [(value)]="msgs"></p-messages>
    </div>
    <!--/ui-g-12 ui-md-6 ui-md-offset-3-->
  </div>
  <!--/ui-g ui-fluid-->
  <!-- /Message -->
  <form  #form="ngForm" (submit)="addBook(form.value)">
    <div class="shadow ui-g-12 ui-md-6 ui-md-offset-3 pt-1 pb-1">
      <div class="ui-g ui-fluid">
        <div class="ui-g-12">
          <label for="title">Add title book</label>
          <input type="text"
                 pInputText
                 name="title"
                 id="title"
                 #title="ngModel"
                 [(ngModel)]="book.title"
                 required
          />
        </div>
        <!--/ui-g-12-->
      </div>
      <!--/ui-g ui-fluid-->
      <div class="ui-g ui-fluid">
        <div class="ui-g-12">
          <label for="author">Add year book</label>
          <input type="text"
                 pInputText
                 name="year"
                 id="year"
                 #year="ngModel"
                 [(ngModel)]="book.year"
                 required
          />
        </div>
        <!--/ui-g-12-->
      </div>
      <!--/ui-g ui-fluid-->
      <div class="ui-g ui-fluid">
        <div class="ui-g-12">
          <label for="author">Add author book</label>
          <input type="text"
                 pInputText
                 name="author"
                 id="author"
                 #author="ngModel"
                 [(ngModel)]="book.author"
                 required
          />
        </div>
        <!--/ui-g-12-->
      </div>
      <!--/ui-g ui-fluid-->
      <div class="ui-g ui-fluid">
        <div class="ui-g-12">
          <label for="author">Add genre book</label>
          <input type="text"
                 pInputText
                 name="genre"
                 id="genre"
                 #genre="ngModel"
                 [(ngModel)]="book.genre"
                 required
          />
        </div>
        <!--/ui-g-12-->
      </div>
      <!--/ui-g ui-fluid-->
      <button (click)="showMessage()" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only btn mt-1"
              [disabled]="title.invalid || year.invalid || author.invalid || genre.invalid "
      >Save</button>
      <button class="ui-button-danger ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only btn mt-1"
              (click)="backBtn()"
      >Cancel</button>
    </div>
    <!--/shadow-->
  </form>
</div>

