/* ===== PrimeNg Style ===== */

@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeng/resources/themes/nova-light/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.css";

/* ===== Custom Style ===== */

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  min-height: 500px;
}
.text-center {
  text-align: center!important;
}
.text-white {
  color: #fff;
}
.mt-1 {
  margin-top: 1em !important;
}
.mb-1 {
  margin-bottom: 1em !important;
}
.pt-1{
 padding-top: 1em;
}
.pb-1{
  padding-bottom: 1em;
}
.mt-5 {
  margin-top: 5em !important;
}
.mb-5 {
  margin-bottom: 5em !important;
}
.btn {
  padding: 0.429em 1em;
}
.btn:disabled, .btn:disabled:hover {
  opacity: .65;
  cursor: unset;
}
.shadow {
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
  border-radius: .25rem;
}
/* ===== Header ===== */

header {
  background-color: black;
}

/* ===== HomeComponent Style ===== */

.selectAuthorTitle {
  margin-right: .5em;
}
.top-bar-table {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.reset-margin-right {
  margin-right: 0 !important;
}

/* ===== Menu ===== */

body .ui-megamenu{
  border: none;
  background-color: transparent;
}
body .ui-megamenu .ui-menuitem-link .ui-menuitem-icon, body .ui-megamenu .ui-menuitem-link .ui-menuitem-text {
  color: #fff !important;
}
body .ui-megamenu .ui-menuitem-link:hover > *{
  color: #000 !important;
}

/* ===== Footer ===== */

footer {
  background-color: black;
  height: 100px;
}

/* ===== Media =====  */

@media (max-width: 320px) {
  .select-wrap {
    flex-direction: column;
  }
}
@media (max-width: 479px) {
  table .ui-button-text.ui-clickable {
    width: 200px!important;
    margin-right: auto;
    margin-left: auto;
  }
}

