/* ===== PrimeNg Style ===== */

@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeng/resources/themes/nova-light/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.css";

/* ===== Custom Style ===== */
.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  min-height: 500px;
}
.text-center {
  text-align: center;
}
.text-white {
  color: #fff;
}
.mt-1 {
  margin-top: 1em !important;
}
.mb-1 {
  margin-bottom: 1em !important;
}
.mt-5 {
  margin-top: 5em !important;
}
.mb-5 {
  margin-bottom: 5em !important;
}
.btn {
  padding: 0.429em 1em;
}
.btn:disabled, .btn:disabled:hover {
  opacity: .65;
  cursor: unset;
}
/* ===== HomeComponent Style ===== */
.selectAuthorTitle {
  margin-right: .5em;
}
.top-bar-table {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.reset-margin-right {
  margin-right: 0 !important;
}

